/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
.ant-list-item-extra {
    width: 50%;
}

.ant-list-lg .ant-list-item {
    padding: 16px 0px;
}

.ant-list-vertical .ant-list-item-meta-title {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    line-height: 24px;
}